.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.413);
    height: 100px;
}

.navbar-logo {
    height: auto;
    width: 300px;
    padding-top: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #585656;
    transition: color 0.2s ease;
}

.sign-in-link {
    background-color: rgba(165, 157, 168, 0.382);
    padding: 10px 20px;
    border-radius: 18px;
    color: #ffffff;
}

.sign-up-link {
    background-color: rgba(165, 157, 168, 0.382);
    padding: 10px 20px;
    border-radius: 18px;
    color: #ffffff;
}

.sign-in-link a:hover {
    color: #000;
    background-color: #6365f19c;
}

.sign-out-link a:hover {
    color: #000;
    background-color: #6365f19c;
}

.nav-links button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background: rgba(165, 157, 168, 0.382);
    color: #585656;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.sign-out-button:hover {
    color: #000;
    background-color: #6365f19c;
}

.navbar-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid purple;
    transition: border 0.2s ease;
}

.navbar-avatar:hover {
    border: 2px solid rgb(192, 192, 192);
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-link:hover {
    color: purple;
    translate: -1px;
}

.create-link:hover {
    color: purple;
    translate: -1px;
}